*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #BFD7ED;
    min-width: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    display: grid;
    grid-template-columns: 1fr 2fr;
    width: 100%;
    min-height: 1000px;
    max-width: 1000px;
    margin: 50px;
}

.container .left{
    position:relative;
    background-color: #003147;
    padding: 40px;
    color: white;
} 
.container .right{
    position:relative;
    background-color: #fff;
    padding: 40px;
    color: #003147;
}
.left  img{
    width: 200px;
    border: 4px solid white;
    border-radius: 50%;
}

